module testo 1.0;

require {
        type httpd_t;
        type var_t;
        class file { read getattr open };
}

#============= httpd_t ==============
allow httpd_t var_t:file { read getattr open };
